{% extends "layout.html" %}


{% block title %}
    View Items
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../static/view.css">

<section class="container content-section">
    <div style="display:flex; justify-content: center; margin-top:70px;">
        <div>
            <h1>Your information:</h1>
            <h2>Email: {{info[1]}}</h2>
            <h2>Username: {{info[2]}}</h2>
            <h2>Name: {{info[3]}}</h2>
            <h2>Account Type: {{info[5]}}</h2>
            <br>
            {% if session["account_type"] == "Customer" %}
                <button class="btn btn-primary">
                    <a href="/my_account/add" style="color: black;">Add Address</a>
                </button>
                <button class="btn btn-primary">
                    <a href="/my_account/edit" style="color: black;">Edit Addresses</a>
                </button>
                <button class="btn btn-primary">
                    <a href="/my_account/delete" style="color: black;">Delete Address</a>
                </button>
                <br>
                <br>
            {% endif %}

        </div>
    </div>
    
</section>
{% endblock %}
