{% extends "layout.html" %}

{% block title %}
    Live Chat
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../static/view.css">

        <div style="min-height: 75vh; display:flex; align-items:center content-section">
            <div class="container py-5 text-center message-input-container">
                <h3>This is a chat between you and {{other_user}}</h3>
                <div class="message-container">
                    {%for i in formatted_messages%}
                        {%if i[0] == "Sent"%}
                            <div class="message-box message-left">
                                <p>{{i[1]}}</p>
                            </div>
                        {%else%}
                            <div class="message-box message-right">
                                <p>{{i[1]}}</p>
                            </div>
                        {%endif%}
                    {%endfor%}
                </div>
                <div>
                    <form action="/chat/{{chat_id}}" method="post">
                    <input type="text" class="form-control mx-auto" name="message_input" placeholder="Enter your message">
                    <button class="final-btn" type="submit">< < < Send > > ></button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
