{% extends "layout.html" %}

{% block title %}
    My Current Chats
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../static/view.css">
    <div style="min-height: 75vh; display:flex; align-items:center content-section">
        <div class="container py-5 text-center message-input-container">
            {%for i in chat_users%}
                <form action="/chat/{{i[0]}}" method="get">
                    <h3>Between you and {{i[2]}} <button class="final-btn" type="submit">View</button></h3>
                </form>
            {%endfor%}
            <div>
                <form action="/chats" method="post" style="margin: 10px;">
                <input type="text" class="form-control mx-auto m-auto" name="user_search" placeholder="Search for user">
                <button class="final-btn" type="submit">Search for user</button>
                </form>
                <form action="/new_chat" method="post" style="margin: 10px;">
                <select name="selected_user" class="add-select">
                    <option selected value="%">N/A</option>
                    {%for i in searched_users%}
                    <option value="{{i[0]}}">{{i[2]}}</option>
                    {%endfor%}
                </select>
                <button class="final-btn" type="submit">Start new chat</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
