{% extends "layout.html" %}

{% block title %}
    Edit items
{% endblock %}

{% block body %}
    <h1>This is the edit items page</h1>
    {%for i in items%}
        <div class = "container">
            <form action="/vendor/edit" method="post">
                <input class="form-control mx-auto w-auto" name="item_hidden_id" value="{{i[0]}}" type="hidden">
                <div class = "edit-div">
                    <p class = "p-center">{{i[1]}}</p>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="new_name" placeholder="New name" type="text">
                    </div>
                </div>
                <div class = "edit-div">
                    <p class = "p-center">{{"${:,.2f}".format(i[2])}}</p>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="new_price" placeholder="New price" type="number" step="0.01">
                    </div>
                </div>
                <div class = "edit-div">
                    <p class = "p-center">{{i[3]}} in stock:</p>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="new_stock" placeholder="New stock" type="number">
                    </div>
                </div>
                <div class = "edit-div">
                    <p class = "p-center">{{i[5]}} days for warranty:</p>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="new_warranty" placeholder="New warranty (days)" type="number">
                    </div>
                </div>
                <div class = "edit-div">
                    <p class = "p-center">"{{i[6]}}"</p>
                    <div class="mb-3">
                        <textarea class="form-control mx-auto w-auto" style="height: 300px;" maxlength="255" name="new_desc" placeholder="New description" type="text"></textarea>
                    </div>
                </div>
                {%for v in describers%}
                    {%if v[3] == i[0]%}
                        <div class = "edit-div describers-div">
                            <div>
                                <p class = "p-center">Size: {{v[1]}}</p>
                                <p class = "p-center">Color: {{v[2]}}</p>
                            </div>
                            <div class="mb-3">
                                <input class="form-control mx-auto w-auto" name="new_size" placeholder="New size" type="text"><input class="form-control mx-auto w-auto" name="new_color" placeholder="New color" type="text">
                                <input class="form-control mx-auto w-auto" name="hidden_id" value="{{v[0]}}" type="hidden">
                                <input class="form-control mx-auto w-auto" name="removal" value="no" type="hidden">
                            </div>
                        </div>
                    {%endif%}
                {%endfor%}

                <div class = "edit-div">
                    <button id = "color" class="color-btn final-btn" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    {%endfor%}
    <script type = "text/javascript">
        // Creates the add button for each form
        var form = document.getElementsByTagName("form");
        for (let i = 0; i < form.length; i++) {
            var describers = form[i].getElementsByClassName("describers-div");
            let container = document.createElement("div");
            var newRow = document.createElement("div");
            newRow.classList.add("edit-div");
            var documentItem = form[i].getElementsByClassName("edit-div")[form[i].getElementsByClassName("edit-div").length - 1];
            var contents = `
            <button class="color-btn add-btn" style="margin-right: 10px;" name="" type="button">Add New Color Or Size</button>
            `;
            newRow.innerHTML = contents;
            documentItem.before(newRow);
            newRow.getElementsByClassName("add-btn")[0].name = i;
            // Creates the remove button for each new size/color
            if (describers.length > 0) {
                for (let v = 0; v < describers.length; v++) {
                    var newRow = document.createElement("button");
                    newRow.classList.add("color-btn");
                    newRow.classList.add("remove-btn");
                    newRow.name = i
                    newRow.value = v
                    newRow.type = "button"
                    var documentItem = describers[v];
                    var contents = `X`;
                    newRow.innerHTML = contents;
                    documentItem.append(newRow);
                }
            }
        }
    </script>

    <script type = "text/javascript">
        // Makes the "Add New Color Or Size" button add 2 more inputs for color and size
        // MAKE IT ADD TO THE CORRECT FORM
        var add_btns = document.getElementsByClassName("add-btn");
        var form = document.getElementsByTagName("form");
        for (let i = 0; i < add_btns.length; i++) {
            add_btns[i].addEventListener("click", function(){
                let container = document.createElement("div");
                var newRow = document.createElement("div");
                newRow.classList.add("edit-div");
                newRow.classList.add("describers-div");
                var documentItem = form[add_btns[i].name].getElementsByClassName("describers-div");
                console.log(documentItem)
                var contents = `
                <div>
                    <p class = "p-center">Size: N/A</p>
                    <p class = "p-center">Color: N/A</p>
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="new_size" placeholder="New size" type="text"><input class="form-control mx-auto w-auto" name="new_color" placeholder="New color" type="text">
                    <input class="form-control mx-auto w-auto" name="hidden_id" value="none" type="hidden">
                </div>
                <button class="color-btn remove-btn" name="" type="button">X</button>
                `;
                newRow.innerHTML = contents;
                documentItem.after(newRow);
                newRow.getElementsByClassName("remove-btn")[newRow.getElementsByClassName("remove-btn").length - 1].name = i
                form = document.getElementsByTagName("form")[i]
                newRow.getElementsByClassName("remove-btn")[newRow.getElementsByClassName("remove-btn").length - 1].value = form.getElementsByClassName("remove-btn").length - 1
            })
        };
    </script>

    <script type = "text/javascript">
            // Iterates through each button and then edits the inputs based on what one was clicked (CURRENTLY BEING REWORKED!!!)
            var form = document.getElementsByTagName("form");
            var buttons = document.getElementsByClassName("remove-btn");
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function(){
                    elements = form[buttons[i].name].getElementsByClassName("describers-div");
                        if (elements.length > 0) {
                            textbox = elements[buttons[i].value].getElementsByTagName("input")
                            if (textbox[3].value == "yes") {
                                textbox[3].setAttribute("value", "no");
                                textbox[0].style.border = "1px solid transparent"
                                textbox[0].setAttribute('placeholder', "New size")
                                textbox[1].style.border = "1px solid transparent"
                                textbox[1].setAttribute('placeholder', "New color")
                            }
                            else {
                                textbox[3].setAttribute("value", "yes");
                                textbox[0].style.border = "1px solid red"
                                textbox[0].setAttribute('placeholder', "!! Being removed !!")
                                textbox[1].style.border = "1px solid red"
                                textbox[1].setAttribute('placeholder', "!! Being removed !!")
                            }
                    
                        }
                })
        };
    </script>
{% endblock %}