{% extends "layout.html" %}


{% block title %}
    View {{product[1]}}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../../static/view.css">

<section class="container content-section">
    <div class="navbar">
        <form action="/item/{{product[0]}}" method="post" class = "center_inputs">
            <input type="hidden" name="isFilter" value = "woo">
            <div style="text-align: right;" class="form-control">
                <label>Sort Options:</label>
                    <select name="sort">
                        <option selected value="N/A">N/A</option>
                            <option value="Ratings">Ratings</option>
                            <option value="Time">Time</option>
                    </select>
            </div>
            <br>
            <div style="text-align: right;" class="form-control">
                <label>Filter by Stars:</label>
                    <select name="filter">
                        <option selected value="N/A">N/A</option>
                            <option value="5">5 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="1">1 Stars</option>

                    </select>
            </div>
            <br>
            <button class="btn btn-primary center_inputs" type="submit">Filter/Sort</button>

        </form>
    </div>

    <div class="shop-items-0">
        <!-- add items here with jinja -->
        <div class="shop-item">
            <span class="shop-item-title">{{product[1]}}</span>
            <!-- <img class="shop-item-image">  NEED IMAGES TABLE FIRST--> 
            <div class="shop-item-details">
                <span class="shop-item-price">{{"${:,.2f}".format(product[2])}}</span>
            </div>
            <div class="shop-item-details2">
                <p class="shop-item-info">{{product[6]}}</p>
                {% for user in users %}
                    {% if user[0] == product[4] %}
                        <p class="shop-item-info">Sold By: {{user[1]}}</p>
                    {% endif %}
                {% endfor %}

                {% for discount in discounts %}
                    {% if discount[3] == product[0] %}
                        <p class="shop-item-info">Discount Expiry Date: {{discount[1]}}</p>
                        <p class="shop-item-info">Discount Value: {{discount[2]}}%</p>
                    {% endif %}
                {% endfor %}

                {% if product[6] == 0 %}
                    <p class="shop-item-info">No warranty</p>
                {% else %}
                    <p class="shop-item-info">Warranty Length: {{product[6]}} Days</p>
                {% endif %}

                <br>
                
                {% if reviews != "None" %}
                    <span class="shop-item-price">Reviews</span>
                    {% for review in reviews %}
                        {% if review[2] == product[0] %}
                            <p class="shop-item-info">Reviewed By: {{review[11]}} at {{review[5]}}</p>
                            <p class="shop-item-info">Stars: {{review[6]}}</p>
                            <p class="shop-item-info">Review: {{review[3]}}</p>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if session["account_type"] == "Customer" %}
                <form action="/item/{{product[0]}}" method="post">
                    <button class="btn btn-primary" type="submit">Add to Cart</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
