{% extends "layout.html" %}


{% block title %}
    View Items
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../static/view.css">

<section class="container content-section">
    <div class="navbar">
        <form action="/view" method="post" class = "center_inputs">
            <input class="form-control mx-auto w-auto" name="name" placeholder="Product Name" type="text">
            <br>
            <input class="form-control mx-auto w-auto" name="description" placeholder="Partial Description" type="text">
            <br>
            <input class="form-control" name="vendor" placeholder="Vendor Name" type="text">
            <br>
            <button class="btn btn-primary center_inputs" type="submit">Search</button>
            <br>
            <div style="text-align: right;" class="form-control">
                <label>Category:</label>
                    <select name="category">
                        <option selected value="%">N/A</option>
                        {% for category in categories %}
                            <option value="{{category[0]}}">{{category[0]}}</option>
                        {% endfor %}
                    </select>
                <br>
                <label>Size:</label>
                    <select name="size">
                        <option selected value="%">N/A</option>
                        {% for size in sizes %}
                            <option value="{{size[0]}}">{{size[0]}}</option>
                        {% endfor %}
                    </select>
                <br>
                <label>Color:</label>
                    <select name="color">
                        <option selected value="%">N/A</option>
                        {% for color in colors %}
                            <option value="{{color[0]}}">{{color[0]}}</option>
                        {% endfor %}
                    </select>
            </div>
            <br>
            <button class="btn btn-primary center_inputs" type="submit">Filter</button>

        </form>
    </div>

    {% for product in products %}
        <div class="shop-items-0">
            <!-- add items here with jinja -->
            <div class="shop-item">
                <span class="shop-item-title">{{product[1]}}</span>
                <!-- <img class="shop-item-image">  NEED IMAGES TABLE FIRST--> 
                <div class="shop-item-details">
                    <span class="shop-item-price">{{"${:,.2f}".format(product[2])}}</span>
                </div>
                <div class="shop-item-details2">
                    <p class="shop-item-info">{{product[6]}}</p>
                    {% for user in users %}
                        {% if user[0] == product[4] %}
                            <p class="shop-item-info">Sold By: {{user[1]}}</p>
                        {% endif %}
                    {% endfor %}
                    <form action="/item/{{product[0]}}" method="get">
                        <input type="hidden" name="item_id" value="{{product[0]}}">
                        <button class="btn btn-primary" type="submit">View Item</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
