{% extends "layout.html" %}


{% block title %}
    View {{product[1]}}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../../static/view.css">

<section class="container content-section">
    <div class="navbar">
        <form action="/item/{{product[0]}}" method="post" class = "center_inputs">
            <input type="hidden" name="isFilter" value = "woo">
            <div style="text-align: right;" class="form-control">
                <label>Sort Options:</label>
                    <select name="sort">
                        <option selected value="N/A">N/A</option>
                            <option value="Ratings">Ratings</option>
                            <option value="Time">Time</option>
                    </select>
            </div>
            <br>
            <div style="text-align: right;" class="form-control">
                <label>Filter by Stars:</label>
                    <select name="filter">
                        <option selected value="N/A">N/A</option>
                            <option value="5">5 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="1">1 Stars</option>

                    </select>
            </div>
            <br>
            <button class="btn btn-primary center_inputs" type="submit">Filter/Sort</button>

        </form>
    </div>

    <div class="shop-items-0">
        <div class="shop-item">
            <span class="shop-item-title">{{product[1]}}</span>
            {% for i in images%}
                <input type="hidden" value="{{i[1]}}" name="hidden_images">
            {% endfor %}
            <div class="image-div">
                <img src="{{images[0][1]}}" alt="Item Image">
            </div>
            <h5>Click to cycle images</h5> 
            <h5>Was {{"${:,.2f}".format(product[2])}}</h5> 
            <div class="shop-item-details">
                {% for discount in discounts %}
                    {% if discount[3] == product[0] %}
                    <span class="shop-item-price">{{"${:,.2f}".format(product[2] - (product[2] * (discount[2]/100)))}}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="shop-item-details2">
                <p class="shop-item-info">{{product[6]}}</p>
                {% for user in users %}
                    {% if user[0] == product[4] %}
                        <p class="shop-item-info">Sold By: {{user[1]}}</p>
                    {% endif %}
                {% endfor %}

                {% for discount in discounts %}
                    {% if discount[3] == product[0] %}
                        <p class="shop-item-info">Discount Expiry Date: {{discount[1]}}</p>
                        <p class="shop-item-info">Discount Value: {{discount[2]}}%</p>
                    {% endif %}
                {% endfor %}

                {% if product[6] == 0 %}
                    <p class="shop-item-info">No warranty</p>
                {% else %}
                    <p class="shop-item-info">Warranty Length: {{product[6]}} Days</p>
                {% endif %}

                <br>
                {% if product[3] > 0 %}
                    <p class="shop-item-info">In Stock: {{product[3]}}</p>
                {% else %}
                    <p class="shop-item-info">Out of Stock</p>
                {% endif %}

                
                {% if reviews|length > 0 %}
                    <span class="shop-item-price">Reviews</span>
                    {% for review in reviews %}
                        <p class="shop-item-info">Reviewed By: {{review[3]}} at {{review[1]}}</p>
                        <p class="shop-item-info">Stars: {{review[2]}}</p>
                        <p class="shop-item-info">Review: {{review[0]}}</p>
                        <br>
                    {% endfor %}
                {% endif %}
                
                {% if session["account_type"] == "Customer" and product[3] > 0 %}
                    <form action="/item/{{product[0]}}" method="post">
                        <div class="mb-3">
                            <label>Color/Size:</label>
                            <select name="color_size" style="appearance: menulist;" class="form-control w-auto">
                                {% for variation in variations %}
                                    <option value="{{variation[0]}}">{{variation[2]}}/{{variation[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit">Add to Cart</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script type = "text/javascript">
    var element = document.getElementsByTagName("img")[1]
    var hidden = document.getElementsByName("hidden_images")
    document.addEventListener("click", function() {
        var changed = 0
        for (let i = 0; i < hidden.length; i++) {
            if (i + 1 < hidden.length) {
                if (changed != 1) {
                    if (element.getAttribute("src") == hidden[i].getAttribute("value")) {
                    element.setAttribute("src", hidden[i + 1].getAttribute("value"))
                    changed = 1
                    }
                }
            }
        }
        if (changed == 0) {
            element.setAttribute("src", hidden[0].getAttribute("value"))
            changed = 1
        }
});
</script>
{% endblock %}
